[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
scrapy = "*"
scrapy-redis = "*"
lxml = "*"
jedi = "*"
autopep8 = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.8"
